.card {
  border-radius: $radius-large;
  .card-image {
    img {
      border-top-left-radius: $radius-large;
      border-top-right-radius: $radius-large;
    }
  }
}
.is-avatar {
  padding: 3px;
  border: 2px solid $info;
  border-radius: 2900px;
  img {
    border-radius: 2900px;
  }
}

.follow-white {
  .btn {
    background-color: $white !important;
  }
}
