.card {
  border-radius: $radius-large;
  .card-image {
    img {
      border-top-left-radius: $radius-large;
      border-top-right-radius: $radius-large;
    }
  }
}
.is-avatar {
  padding: 3px;
  border: 2px solid $info;
  border-radius: 2900px;
  img {
    border-radius: 2900px;
  }
}

.main-nav {
  border-bottom: 1px solid $grey-lighter;
}
.logo {
  background-color: $white-bis;
  padding: 3px 10px;
  border-radius: 5px;
  color: $dark;
}


.post_card_info {
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}
